<!DOCTYPE html>
<html>
	<head>
		<title>WEB - login</title>
		<meta charset = "utf-8">
        <link type="text/css" rel="stylesheet" href="/statics/style.css">
	</head>
	<body>
        <div id="head">
			<h1>Search!</h1>
		</div>
        <form action="/{0}/search" method="post">
        <p><input type="text" name="keyword" placeholder="search"></p>        
        <button type="submit">검색하기</button>
        </form>
        <button type="button" onclick="location.href='/{0}/login' ">취소</button><br>
        <div id="footer">
				김유진/이성현
        </div>
	</body>
</html>